@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Poppins:ital,wght@0,200;1,200&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(26, 26, 53);
    color: white !important;
    font-family: 'Poppins', sans-serif;

}
.mobile_menu{
    display: none;
}
.main-nav{
  background-color: rgb(21, 21, 90);
  display: flex;
  justify-content: space-around;
  padding: 10px;
 
}
.right_nav .nav_link{
    color: white;
    text-decoration: none;
}
.right_nav ul{
    list-style-type: none;
    display: flex;
    padding-top: 5px;
}

.right_nav ul li {
    margin: 0 10px;
  }
.left_nav h1{
      font-size: 1.5rem;
}
.active{
    border-bottom: 1px solid red;
    color: red!important;}


    /*  Hero Section*/

.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;

}
.hero .left_hero h1{
    font-weight: bold;
    font-size: 2rem;
}
span{
    color: rgb(23, 159, 204) ;
}
.anas_image{
    height: 60vh;
}
.btn button{
    color: white;
    background-color: rgb(6, 65, 125);
    padding: 15px;
    font-size: .9rem;
    margin: 20px 5px;
    cursor: pointer;
    border: 1px solid rgb(137, 135, 135);
    border-radius: 10px;
}
.cv button{
    color: white;
    background-color: rgb(6, 65, 125);
    padding: 15px;
    font-size: .9rem;
    margin:100px auto;
    align-items: center;
    text-align: center;
    position: relative;
    left: 40%;
    cursor: pointer;
    border: 1px solid rgb(137, 135, 135);
    border-radius: 10px;
}
form button{
    color: white;
    background-color: rgb(6, 65, 125);
    padding: 15px;
    font-size: .9rem;

    align-items: center;
    text-align: center;
    /* position: relative; */
    left: 40%;
    cursor: pointer;
    border: 1px solid rgb(137, 135, 135);
    border-radius: 10px;
}
.cards .card button{
    color: white;
    background-color: rgb(6, 65, 125);
    padding: 10px;
    font-size: .7rem;
    margin: 15px 5px;
    cursor: pointer;
    border: 1px solid rgb(137, 135, 135);
    border-radius: 10px;
}

.cards{

    /* float: left; */
    /* flex-wrap: wrap; */
    width: 100%;
    height: auto;
    margin: auto;
    
    /* margin:3rem auto; */
}
.cards .card{
    border: 1px solid rgb(146, 146, 146);
    border-radius: 5px;
    text-align: center;
    float: left;
    width: 20%;
    margin: 6%;
    box-shadow: 0px 3px 17px -5px rgb(173, 173, 173);
}
.cards .card:hover{
    transform: scale(1.05,1.05);
}
.card img{
    width: 8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.card h1{
    font-size: 1rem;
    margin-bottom: 1rem;
}
.card p{
    font-size: .7rem;
    width: 70%;
    
    margin: auto;
    color: rgb(173, 173, 173);
}
.services_heading{
    text-align: center;
    margin-top: 3rem;
}

footer{
    background-color:rgb(21, 21, 90) ;
    margin-top: 35rem;

}
footer .footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem;
 
}
.footer a{
    text-decoration: none;
    color: white;


}
.footer a:hover{
    font-size: 1.1rem;
    color: rgb(77, 77, 77);

}
.footer ul{
    list-style-type: none;
    font-weight: bold;
}
.footer ul li{
       margin-top:10px ;
}

.copy{
    text-align: center;
    padding: 10px;
    color: rgb(179, 179, 179);
}

.footer_services{
   position: absolute;
   width: 100%;
   top: 100%;
}

.form_div{
    width: 50%;
    margin: 100px auto;

}
.form{
    margin: auto;
    display: flex;
    flex-direction: column;
}
input,textarea{
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}


@media only screen and (max-width:770px){
    .mobile_menu{
        display: block;
        margin-top: 9px;
    }
    .right_nav{
        display: none;
    }
    .main-nav{
        justify-content: space-between;
        /* width: 100%; */
    }
    .cards .card{
        margin: 2rem 16%;
        width: 70%;
        display: block;
    }
    footer{
        width: 100%;
    }
    .footer_services{
        width:100%;
        position: static;
    display: flex;
    justify-content: center;
}
.mobile_nav{
    background-color: #f5fcfc;
    box-shadow: 2px 8px 6px -1px #3fbd6e63;
    width: 97%;
    color: black;
    display: block;
    border-radius: 5px;
    position: absolute;
    top: 61px;
    transition :transform (0.5s ease-in);
}
.right_nav .nav_link{
    color: black;

}
.right_nav ul{
  
    display: block;
    padding-top: 5px;
}


     }
   

@media only screen and ( max-width: 550px){
 .mobile_nav{
    width: 95%;

 }
 .hero {
    margin-top: 166px;
}
}    

